@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.wrapper {
  float: right;
}

header {
	height: 100px;
}

.button {
	background-color: #434639;
	border-radius: 28px;
	border: 1px solid #434639;
	cursor: pointer;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	padding: 16px 40px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
  display: inline-block;
}

.homeButton {
	background-color: #434639;
	border-radius: 28px;
	border: 1px solid #434639;
	cursor: pointer;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	padding: 16px 40px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
  display: inline-block;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #808000, #999900);
  background: -moz-linear-gradient(right, #808000, #999900);
  background: -o-linear-gradient(right, #808000, #999900);
  background: linear-gradient(to left, #808000, #999900);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
